body {
  font-family: sans-serif;
  background: #fffefc;
  padding: 2rem;
  color: #333;
}

.container {
  max-width: 600px;
  margin: auto;
}

h1, h2, h3 {
  color: #754c24;
}

section {
  border-top: 1px solid #ddd;
  padding-top: 1rem;
  margin-top: 1rem;
}

label {
  display: block;
  margin-bottom: 0.8rem;
  font-weight: bold;
}

input, select {
  display: block;
  width: 100%;
  padding: 6px;
  margin-top: 0.3rem;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  margin-top: 2rem;
  padding: 10px 20px;
  background: #d9b47c;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #c49a6c;
}
